{% extends 'layouts/base.html' %}

{% comment %}TODO LO QUE ESTE EN TITLE APARECERA EN EL TITULO DE LA PAGINA{% endcomment %}
{% block title %}
Libro de Novedades
{% endblock %}

{% comment %}MUESTRA LA UBICACION ACTUAL DE{% endcomment %}

{% block titlecontent %}
<i class="fas fa-book"> Detalles de la Novedad</i>
{% endblock %}

{% block titlemenu %}
Detalles del Evento
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card card-primary">
            <div class="card-header">
    

                   
            </div>
            <div class="card-body">
 

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
